.hamburguerBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    order: 2;
    margin-right: 50px;
    width: 36px;
    height: 34px;
}

.closeBtn{
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menuNav{
    box-sizing: border-box;
    padding-top: 50px;
    width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    
    position:fixed;
    top: 0;
    right: 0;
    
    background-color: #0e0e0e;
    font-size: 0.875rem;
    
    transform: translateX(150px);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.link{
    text-decoration: none;
    color: var(--light-0);
    transition: ease 0.2s all;
}

.link:hover{
    color: var(--light-3);
}

.menuNav.show {
  transform: translateX(0);
}

@media (min-width: 1150px) {
    .menuNav {
        width: auto;
        height: auto;
        position: static;
        background-color: transparent;
        font-size: 0.938rem;
        display: flex;
        transform: translateX(0);
        transition: none;
        gap: 26px;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
    }

    .closeBtn{
        display: none;
    }

    .menuNav.show{
        padding: 0;
    }

    .hamburguerBtn {
        display: none;
    }

    .link{
        text-decoration: none;
        color: var(--grey-0);
        transition: ease 0.2s all;
    }
    
    .link:hover{
        color: var(--grey-3);
    }
}
