.main__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
    gap: 65px;
    margin-bottom: 200px;
}

.banners__section{
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29.25px;
}

.firstBannerContainer{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lastBannerContainer{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products__section{
    width: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.mainStripe{
    max-width: 1200px;
    width: 100%;
    height: 1px;
    background-color: #CFCFCF;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.midStripe{
    max-width: 100%;
    width: 200px;
    height: 3px;
    background-color: #A4BEBF;
}

.overflow__container {
    width: 100%;
    max-width: 1200px;
    overflow-x: auto;
    overflow-y: hidden;
}

.productList {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media(max-width:1450px){
    .productList{
        justify-content: start;
    }
}

@media(max-width: 1220px){
    .firstBannerContainer{
        display: none;
    }
}

@media(max-width: 818px){
    .banners__section{
        width: 83%;
        align-items: start;
    }

    .lastBannerContainer{
        max-width: 100%;
    }

    .thirdBannerContainer{
        max-width: 100%;
        display: flex;
        justify-content: start;
    }

    .thirdBanner, .fourthBanner, .fifthBanner{
        max-width: 100%;
    }
}

@media(max-width: 728px){
    .thirdBannerContainer{
        display: none;
    }

    .lastBannerContainer{
        width: 100%;
    }

    .fourthBanner, .fifthBanner{
        max-height: 100%;
    }
    .fifthBanner{
        display: flex;
        align-self: flex-end;
    }
}

@media(max-width: 600px){
    .main__container{
        margin-top: 10px;
    }
}

@media(max-width: 459px){
    .lastBannerContainer{
        width: 100%;
        justify-content: start;
        gap: 10px;
        height: auto;
    }
    .fourthBanner, .fifthBanner{
        height: 190px;
        width: 280px;
    }
}